<h1 class="text-center">Hello World!</h1>

<section class="text-center">
    <button>Bop it!</button> <button>Pull it!</button>
    <button>Spin it!</button> <button id="da-scraper">Scrape it!</button>
    <section id="dump"></section>
</section>