<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
        {{#if newRes.user}}
            Welcome <span class="text-success">{{newRes.user}}</span>!
        {{else}}
        Navbar
        {{/if}}
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/all-arts">All Articles</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/login">Login</a>
          <a class="dropdown-item" href="/reading-saved-arts">Saved Articles</a>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" id="break-out">Logout</button>
        </div>
      </li>
    </ul>
  </div>
</nav>

<nav id="Jumbo" class="navbar navbar-default">
    <div class="container-fluid">
        <h1 id="title" class="mx-auto">Newscraper</h1>
        <div>

        </div>
    </div>
</nav>

<div id="move" class="text-center">
    <h2 class="sign">Login/Sign Up Form</h2>
    <div class="col-auto">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 protecter-bg text-center mx-auto pizza">

                    <form class="login">
                        <div class="col text-center mt-3">
                            <input type="username" class="m-2 p-2 rounded" id="username-input" placeholder="username">
                        </div>
                        <div class="col text-center mt-3">
     
                            <input type="password" class="m-2 p-2 rounded" id="password-input" placeholder="Password">
                        </div>
                        <button id="signup" class="btn btn-default mt-2 mx-1">Sign Up</button>
                        <button id="login" class="btn btn-default mt-2 mx-1">Login</button>
                    </form>

                    <button class="btn btn-default m-2" onclick="window.location='/';">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>