<nav id="Jumbo" class="navbar navbar-default">
    <div class="container-fluid">
        <h1 id="title">Newscraper</h1>
        <div>

        </div>
    </div>
</nav>

<div id="move">
    <h2 class="sign">Login/Sign Up Form</h2>
    <div class="col-auto">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 protecter-bg text-center mx-auto pizza">

                    <form class="login">
                        <div class="col text-center mt-3">
                            <input type="username" class="m-2 p-2 rounded" id="username-input" placeholder="username">
                        </div>
                        <div class="col text-center mt-3">
     
                            <input type="password" class="m-2 p-2 rounded" id="password-input" placeholder="Password">
                        </div>
                        <button id="signup" class="btn btn-default mt-2 mx-1">Sign Up</button>
                        <button id="login" class="btn btn-default mt-2 mx-1">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>