html, body {
    height: 100%;
}

body {
    background-image: url("../assets/scraped-back.jpg");
}

.dump-scraper{
    margin-left: 20%;
    margin-right: 20%;
}

.for-background {
    background: rgba(173, 216, 230, 0.836);
    min-height: 100%;
}

#dump {
    height: 100%;
}

nav {
    opacity: 0.8;
}

.card{
    opacity: 0.8;
}

h1 {
    margin-bottom: 40px;
    margin-top: 10px;
}